@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins:wght@400;500;600&display=swap');

/* Utility classes */
body {
    font-family: 'Poppins', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
    font-weight: 800 !important;
    color: #414040 !important;
}

.fs-2{
    font-weight: 700 !important;
}

p {
    color: #707070;
    line-height: 26px;
}

.my-btn {
    background-color: #B68C5A;
    border-radius: 8px;
    padding: 14px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid #B68C5A;
    transition: 0.4s ease-in-out;
}

.my-btn:hover {
    background-color: #fff;
    color: #B68C5A;
    border: 2px solid #B68C5A;
}


/* Banner css */
.banner {
    background: linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url('../images/banner.png') no-repeat;
    background-size: auto, cover;
    background-position: center;
}

.banner-content {
    width: 670px;
    max-width: 90%;
    padding-top: 100px;
    padding-bottom: 104px;
}

.banner-content h1 {
    font-size: 70px;
}

.banner-content p {
    color: #E7E7E7;
}

.banner-content form {
    width: 90%;
}

.banner-content form input {
    border-radius: 8px;
    padding: 14px 30px;
    font-size: 16px;
    border: 2px solid #ffffff;
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: 991px) {
    .banner-content h1 {
        font-size: 64px;
    }
}

@media screen and (max-width: 767px) {
    .banner-content h1 {
        font-size: 48px;
    }
}


/* Practice area css */
.practice-area .card:hover {
    background-image: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
    cursor: pointer;
}

.practice-area .card .img {
    margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
    .practice-area .card .img {
        height: 100px;
    }
}

/* Client Section css */
.item-1 {
    background: linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url('../images/slider-1.jpg') no-repeat;
}

.item-2 {
    background: linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url('../images/slider-2.jpg') no-repeat;
}

.item-3 {
    background: linear-gradient(360deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url('../images/slider-3.jpg') no-repeat;
}

.carousel-item {
    background-size: auto, cover;
    background-position: center;
}

.carousel-item p {
    color: #E7E7E7;
    max-width: 900px;
    margin: auto;
}

.carousel-item img {
    width: 70px;
    height: 70px;
}

.carousel-indicators {
    bottom: 8%;
}

/* FAQs section CSS */
.accordion-item {
    margin-bottom: 1.8rem;
    border: none;
    background-color: #F3F3F3;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-button,
.accordion-button:focus,
.accordion-button:not(.collapsed) {
    background-color: #F3F3F3;
    font-size: 24px;
    font-weight: 800;
    color: #414040;
    font-family: 'EB Garamond', serif;
    box-shadow: inherit;
}

.accordion-button::after {
    background-image: url('../images/plus-solid.svg');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('../images/minus-solid.svg');
}

/* Footer css */
footer {
    background-color: #111111;
}

footer p {
    color: #CFCFCF;
}

footer a {
    text-decoration: none;
    color: #CFCFCF;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    footer .container {
        max-width: 80%;
        margin: auto;
    }
}


/* Modal css */
.modal-section .card {
    background-color: #F3F3F3;
    cursor: pointer;
}

.modal-section form input,
textarea {
    background-color: #F3F3F3;
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    width: 100%;
}

section>p {
    max-width: 714px;
    margin: auto;
}